@import 'font';
@import 'color-palette';
@import 'layout';

.custom-dashboards {
  @include scrollable-container(16px);
  .dashboard-list {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    .dashboard {
      cursor: pointer;
      padding: 0 50px;
      border: 1px dotted $gray-2;
      border-radius: 10px;
      @include center-contents();
      text-align: center;
      &:hover {
        background-color: $gray-2;
      }
    }
  }
}
