.top-content {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}

.overview {
  display: flex;
  gap: 2rem;
}

.checks-container {
  margin-top: 3rem;
  margin-left: 0.6rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}
